<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- Needed only if your app targets Android 5.0 (API level 21) or higher. -->
    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31">

        <!-- TEMPORARY TESTING MODE - Intro Activity -->
        <!-- TODO: Move intent-filter back to IntroActivity when done testing -->
        <activity 
            android:name=".view.introscreen.IntroActivity"
            android:theme="@style/AppTheme2"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />

        <!-- RazorPayActivity -->
        <activity
            android:name=".view.ecommerce.RazorPayActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- Signup Activity -->
        <activity
            android:name=".view.auth.SignupActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- Login Activity -->
        <activity
            android:name=".view.auth.LoginActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- TEMPORARY TESTING MODE - Dashboard Activity -->
        <!-- TODO: Remove intent-filter from DashboardActivity when done testing -->
        <activity
            android:name=".view.dashboard.DashboardActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Add Product Activity -->
        <activity
            android:name=".view.ecommerce.AddProductActivity"
            android:exported="false"
            android:theme="@style/AppTheme2"
            android:windowSoftInputMode="adjustResize" />

        <!-- Meta-data for RazorPay and Fonts -->
        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="@string/key_id" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>
